html, body{
    margin: 0%;
    height: 110%;
    background-image: url("Assets/welcome_logo1.jpg");
    background-size: cover;
    background-position: center;
}

h1{
    color: #ffffff; 
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
    margin:auto;
    font-weight: bold;
}

.container-fluid{
    padding-top: 7%;
}

header{
    background-color: #000000;
    text-align: center;
    padding: 3%;
}

.quote{
    color: #c2c2c2;
    font-style:italic;
    font-size: 105%;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
    margin-top: 1%;
}

@media only screen and (min-width: 768px){
    h1{
        font-size: 250%;
    }

    .quote{
        font-size: 150%;
        margin-top: 1%;
    }
}


#auther{
     font-size: 70%;
 }

 a{
    text-decoration: none;
    color: inherit;
}
i{
    border: 8px solid black;
    border-radius: 20%;
    padding: 5%;
    background-color: #ffffff;
    opacity: 0.7;
    color:rgb(0, 0, 0)
}
i:hover{                               
    opacity: 1;
    color: black;
    transform: scale(1.1);
    transition-property: all; transition-duration: 0.2s; transition-timing-function: linear;
}


p{
    text-align: center;
    margin-top: 3px;
    font-weight: bold;

}

img{
    width: 20%;
    border-radius: 50%;
    display: none;
}

@media only screen and (min-width: 768px){
    html, body{
        height: 100%;
        background-image: url("Assets/welcome_logo1.jpg");
        background-size: cover;
        background-position: center;
    }

    /* header{
        padding: 5%;
    } */
    
}

@media only screen and (min-width: 992px){

    html, body{
        height: 100%;
        background-image: url("Assets/welcome_logo1.jpg");
        background-size: cover;
        background-position: center;
    }
    
    #header_content{
        position: relative;
        width: 100%;
        text-align: left;
    }

    img{
        display: block;
        float: right;
        width: 15%;
    }

    header{
        /* padding-top: 10px;
        padding-bottom: 67px;
        padding-left: 50px;
        padding-right: 50px; */

        padding-top: 0%;
        padding-bottom: 3%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .quote{
        margin-top: 1%;
    }

    h1{
        padding-top: 50px
    }

    .container-fluid{
        padding-top: 10%;
    }
    p{
        color: rgb(255, 253, 253);
    }
}

@media only screen and (min-width: 1200px){
    html, body{
        height: 100%;
        background-image: url("Assets/welcome_logo1.jpg");
        background-size: cover;
        background-position: center;
    }

    header{
        padding: 1%;
    }
    h1{
        padding: 1%;
    }
}

p{
    color: black;
}